<footer class="footer" data-background-color="black">
  <div class="container-fluid">
    <div class="copyright" id="copyright">
      <i class="cc cc-cc"></i>
      <i class="cc cc-by"></i>
      The content of this site is licensed under a <a target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License.</a>
    </div>
  </div>
</footer>
