<nav class="navbar navbar-expand-lg">
  <div class="container">
    <span class="navbar-brand mb-0 h1">{{title}}</span>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"  aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="nav navbar-nav mr-auto">
        <form class="navbar-form navbar-left navbar-search-form" role="search">
          <input class="form-control ml-5" type="search" placeholder="Search..." aria-label="Search">
        </form>
      </ul>
    </div>
  </div>
</nav>
