<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="navbar-translate">
      <span class="navbar-brand mb-0 h1">ROR Search</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-transparent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
  
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav mr-auto">
        <form {{action "search" query on="submit"}} class="form-inline ml-auto" role="search">
          {{input name="query" value=query class="form-control col-sm-8" placeholder='Search...' escape-press=(action 'clear') enter=(action 'search')}}
        </form>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
