<section class="section section-subscribe" data-background-color="green">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-left">
        <div class="contact-shortcode">
          <div id="mc_embed_signup">
            <form action="https://community.us19.list-manage.com/subscribe/post?u=aee25ddaad81d812beac34761&amp;id=dd53f61289" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
              <div id="mc_embed_signup_scroll">
                <h2>Subscribe to ROR updates by email</h2>
                <div class="mc-field-group"><input type="email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address*"></div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position:absolute;left:-5000px" aria-hidden="true"><input type="text" name="b_aee25ddaad81d812beac34761_dd53f61289" tabindex="-1"></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-sm btn-round red"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <div>
          <h2>Have a suggestion for an addition or update to ROR?</h2><a target="_blank" class="btn btn-sm btn-round red" rel="noopener" href="https://curation-request.ror.org">Submit a curation request</a>
        </div>
      </div>
    </div>
  </div>
</section>