<section class="section section-socials" data-background-color="light-grey">
	<div class="container">
		<div class="row justify-content-between no-gutters ml-auto mr-auto text-center">
			<div class="col-sm-6 col-md"><a href="mailto:info@ror.org?subject=Question%20about%20the%20Research%20Organization%20Registry&body=Dear%20Research%20Organization%20Registry%20%28ROR%29%2C%20" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-envelope"></i>
				<span>Email</span></a>
			</div>
			<div class="col-sm-6 col-md"><a href="https://www.linkedin.com/company/ror-research-organization-registry/"><i class="fa-brands fa-linkedin"></i>
				<span>LinkedIn</span></a>
			</div>
			<div class="col-sm-6 col-md"><a href="https://mastodon.social/@ResearchOrgs"><i class="fa-brands fa-mastodon"></i>
				<span>Mastodon</span></a>
			</div>
			<div class="col-sm-6 col-md"><a href="https://bsky.app/profile/researchorgs.bsky.social"><i class="fa-brands fa-bluesky"></i>
				<span>Bluesky</span></a>
			</div>
			<div class="col-sm-6 col-md"><a href="https://www.youtube.com/channel/UCQBOpOpW-JEKoVCUlmCK1Eg"><i class="fa-brands fa-youtube"></i>
				<span>YouTube</span></a>
			</div>
			<div class="col-sm-6 col-md"><a href="https://github.com/ror-community"><i class="fa-brands fa-github"></i>
				<span>GitHub</span></a>
			</div>
			<div class="col-sm-6 col-md"><a href="https://ror.readme.io/"><i class="fa-solid fa-book"></i>
				<span>Documentation</span></a>
			</div>
		</div>
	</div>
</section>