<div class="content">
  <div class="container-fluid">
    <div class="info info-hover">
      <h1 class="info-title">Welcome to ROR Search</h1>
      <p class="description">The Research Organization Registry (ROR) is global, community-led registry of open persistent identifiers for research and funding organizations.</p>
    </div>
  </div>
</div>
