<div class="content">
  <div class="container-fluid">
    <div class="info info-hover">
      <h4 class="info-title text-primary">Welcome to ROR Search</h4>
      <p class="description">Research Organization Registry is a community-led project to develop an open, sustainable, usable, and unique identifier for every research organization in the world.</p>
    </div>
  </div>
</div>
