<div class="content">
  <div class="container-fluid">
    <div class="api-client-registration">
      <h1>Register for a ROR API client ID</h1>

      <div class="info-text">
        <p>ROR API users are encouraged to register for a client ID and to include it in the header of API requests. Requests that include a header named client-id with a valid client ID as its value will receive a rate limit of 2,000 requests/5min. API requests that don't include a client ID will receive a rate limit of 50 requests/5min.</p>
        
        <p>Please complete the form below to register for a ROR API client ID. Your client ID will be sent to the email address you provide.</p>

        <h3>A few notes about ROR API client IDs:</h3>
        <ul>
          <li>ROR client IDs are not used for authentication or authorization, and are therefore not secret and can be sent as plain text.</li>
          <li>We do not provide a way to recover or revoke a lost client ID. If you lose track of your client ID, please register a new client ID.</li>
          <li>For more information about ROR API client IDs, see <a href="https://ror.readme.io/docs/client-id">https://ror.readme.io/docs/client-id</a></li>
          <li>For additional help obtaining or using a ROR API client ID contact <a href="mailto:api@ror.org">api@ror.org</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <Organizations::ApiClientRegistrationForm />
</div>

