<div class="content">
  <div class="container-fluid">
    {{#if model}}
      {{#each model as |organization|}}
        {{organization-item model=organization}}
      {{/each}}
      
      {{#if (gt model.meta.totalPages 1)}}
        <div class="row">  
          <div class="col-lg-8 col-sm-12">
            {{page-numbers model=model link="organizations"}}
          </div>
        </div>
      {{/if}}
    {{else}}
      {{#bs-alert dismissible=false type="warning"}}
        No Organizations found.
      {{/bs-alert}}
    {{/if}}
  </div>
</div>