<div class="content">
  <div class="container-fluid">
    {{#if model}}
      {{#each model as |organization|}}
        {{organization-item model=organization}}
      {{/each}}
    {{else}}

    {{/if}}
  </div>
</div>