<div class="content">

  <div class="container-fluid">
    <div class="ml-4 ror-search-home">
        <LinkTo @route="organizations.index"><i class="fa fa-caret-left" aria-hidden="true"></i> ROR search home page</LinkTo>
    </div>
    <OrganizationItem @model={{model}} />
  </div>
</div>