$green: #53baa1;
$dark-grey: #505759;
$light-grey: #efefef;
$orange: #da3200;
$mustard: #e89005;
$beige: #d3bdb0;
$black: #293030;



$phone-width: 420px;
$tablet-width: 768px;
$desktop-width: 1024px;

// override, color links
.card {
  h1, h2 {
    font-size: 2rem;
    margin-top: 0;
    @media screen and (max-width:$phone-width) {
        font-size: 1.6rem;
    }
  }
  h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
  }
}

.badge {
    padding: 8px 12px;
    font-size: .8em;
    float: right;
    @media screen and (max-width:$phone-width) {
        float: left;
        margin-top: .5rem
    }
}

.badge-status{
    border-color: $orange;
    background-color: $orange;
    color: #FFF;
}

.ror-id {
    @media screen and (max-width:$phone-width) {
        display: none;
    }
}
