$green: #53baa1;
$dark-grey: #505759;
$light-grey: #efefef;
$orange: #da3200;
$mustard: #e89005;
$beige: #d3bdb0;
$black: #293030;



$phone-width: 420px;
$tablet-width: 768px;
$desktop-width: 1024px;

// override, color links
.card {
  h1, h2 {
    font-size: 2rem;
    margin-top: 0;
    @media screen and (max-width:$phone-width) {
        font-size: 1.6rem;
    }
  }
  h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
  }
}

.fa-question-circle {
  font-size: 1.1rem;
  &:hover{
    color: #53BAA1;
  }

}

.badge {
    padding: 8px 12px;
    font-size: .8em;
    float: right;
    @media screen and (max-width:$phone-width) {
        float: left;
        margin-top: .5rem
    }
}

.badge-status{
    border-color: $orange;
    background-color: $orange;
    color: #FFF;
}

.ror-id {
    @media screen and (max-width:$phone-width) {
        display: none;
    }
}

.popover {
  font-size: .8rem;
}

.filters-list {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.filters-list input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.filters-list-input {
  position: absolute;
  margin-top: 0.4rem;
  margin-left: -1.25rem;
}

.filters-list-label {
  display: inline-block;
  margin: 0;
}

#filters{
  line-height: 1.5rem;
  h2 {
    font-size: 1.5rem;
    margin: 0;
    line-height: normal;
  }
  h3 {
    font-size: 1rem;
    margin: 0;
    line-height: normal;
  }
  p {
    margin-bottom: 0;
  }
  hr {
    margin: .5rem 0;
  }
  .filter-group{
    margin-bottom: 1rem;
  }

  a {
    line-height: normal;
    font-size: 1rem;
    font-style: italic;
  }
  i {
    margin-right: .3rem;
  }
  .btn-round {
    padding: 6px 9px;
    float: left;
    margin-right: .3rem;
  }

}
