// limit max-width on large screens
.container-fluid {
  max-width: 1420px;
  padding: 0 1em;
}

.info-search {
  min-height: calc(100vh - 200px);
}

// colors for filters
$type-color: #ad9a27 !default;
$country-color: #789aa1 !default;

// override, color links
.card {
  a[data-toggle='collapse']{
    text-decoration: none;
  }

  & a:not(.btn):not(.nav-link):not([data-toggle='collapse']):not(.footer-link){
      text-decoration: none;
      color: $primary-color;

      &:hover,
      &:focus{
          color: darken($primary-color, 20%);
          border-bottom: 0;
      }
  }

  .badge-type{
    @include badge-color($type-color);
  }
  .badge-country{
    @include badge-color($country-color);
  }
}

img.ror-id {
  width: 24px;
  height: 24px;
}

/* contact form specific (though most of this comes straight from mailchimp) */

.contact-shortcode {
  max-width: 600px;
}

/*!
* Mailchimp stylings
*/
#mc_embed_signup form {padding: 0;}
#mc_embed_signup .button {background-color: #ff6900;}
#mc_embed_signup input {border: 0px; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;}
#mc_embed_signup h2 {margin:0; font-size: 1.2em;text-transform:none; font-weight: 600;}
#mc_embed_signup .mc-field-group{width:80%;padding-top:.5em;}
#mc_embed_signup #mce-success-response,
#mc_embed_signup #mce-error-response {color:#505759;}

.required {
  color: #999999;
  text-transform: none;
}
