// limit max-width on large screens
.container-fluid {
  max-width: 1420px;
  padding: 0 1em;
}

// override, color links
.card {
  a[data-toggle='collapse']{
    text-decoration: none;
  }

  & a:not(.btn):not(.nav-link):not([data-toggle='collapse']):not(.footer-link){
      text-decoration: none;
      color: $primary-color;

      &:hover,
      &:focus{
          color: darken($primary-color, 20%);;
          border-bottom: 0;
      }
  }
}

// colors for filters
$type-color: #ad9a27 !default;
$country-color: #789aa1 !default;

.badge-type{
  @include badge-color($type-color);
}
.badge-country{
  @include badge-color($country-color);
}

img.ror-id {
  width: 24px;
  height: 24px;
}
