/* contact form specific (though most of this comes straight from mailchimp) */

.contact-shortcode {
  max-width: 600px;
}

/*!
* Mailchimp stylings
*/
#mc_embed_signup form {padding: 0;}
#mc_embed_signup .button {background-color: #ff6900;}
#mc_embed_signup input {border: 0px; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;}
#mc_embed_signup h2 {margin:0; font-size: 1.2em;text-transform:none; font-weight: 600;}
#mc_embed_signup .mc-field-group{width:80%;padding-top:.5em;}
#mc_embed_signup #mce-success-response,
#mc_embed_signup #mce-error-response {color:#505759;}

.required {
  color: #999999;
  text-transform: none;
}

.section-blog, .section-space {
  h1, .h1{
    font-size: $font-size-h2;
    margin-bottom: $margin-base-vertical;
  }
  h2, .h2{
      font-size: $font-size-h3;
      margin-bottom: $margin-base-vertical;
      line-height: 1.4em;
  }
  h3, .h3{
      font-size: $font-size-h4;
      line-height: 1.45em;
      margin-top: $margin-base-vertical * 2;
      margin-bottom: $margin-base-vertical * 0.53;

      & + .category,
      &.title + .category{
          margin-top: -5px;
      }
  }
  h4, .h4 {
    font-size: $font-size-h5;
    line-height: 1.4em;
    margin-bottom: $margin-base-vertical * 0.53;

    &.category{
        font-weight: 400;
    }
  }

  ul li {
    line-height: 1.61em;
    font-weight: 300;
    font-size: 1.2em;
  }

  ul ul li {
    font-size: 1em;
  }
}