{{outlet}}

<div class="subscribe-line subscribe-line-white pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-plain">
          <div class="card-body">
            <h5 class="mt-0">Subscribe to ROR updates by email</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-plain card-form-horizontal">
          <div class="card-body">
            <form method="" action="">
              <div class="row">
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Your Email...">
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-default btn-round btn-block">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{{application-footer}}