{{application-header title="Home" logo="home"}}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Welcome to the Research Organization Registry Community</h4>
          </div>
          <div class="card-body">
            ROR is a community-led project to develop an open, sustainable, usable, and unique identifier for every research organization in the world.
          </div>
        </div>      
      </div>
    </div>
    <div class="row">  
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Why ROR?</h4>
          </div>
          <div class="card-body">
            The scholarly research community depends on a series of open identifier and metadata infrastructure systems to great success. Content identifiers and contributor identifiers are foundational infrastructure for the community. But there is one piece of the infrastructure that is missing – there currently is no open, stakeholder-governed infrastructure for research organization identifiers and their associated metadata.
          </div>
          <div class="card-body">
            <a target="_blank" rel="noopener" href="https://www.ror.community/scope/" class="btn btn-outline btn-round">Learn more</a>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>